:root {
    --cor-branco: #fdfffe;
    --cor-branco2: #c9d0d1;
    --cor-rosa: #ff66bc;
    --cor-rosa2: #e558cb;
    --cor-amarela: #fff492;
    --cor-amarela2: #fdc83a;
    --cor-azul: #7ae5f9;
    --cor-azul2: #33a4e6;

    --cor-fundo: #121212;
}